//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';


//general styles
$font: 'Roboto';
@font-face {
  font-family: $font;
  src: url("/../fonts/#{$font}/#{$font}-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font;
  src: url("/../fonts/#{$font}/#{$font}-Italic.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font;
  src: url("/../fonts/#{$font}/#{$font}-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font;
  src: url("/../fonts/#{$font}/#{$font}-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font;
  src: url("/../fonts/#{$font}/#{$font}-Black.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

*, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: #{$font}, Sans-Serif;
}

.border-primary {
  border-color: #2F97DA !important;
}

.border-white {
  border-color: white !important;
}

//remove max width
#page-container.main-content-boxed > #page-header .content-header, #page-container.main-content-boxed > #page-header .content, #page-container.main-content-boxed > #main-container .content, #page-container.main-content-boxed > #page-footer .content {
  max-width: unset;
}

//set nav image icons colors
.nav-main a {
  padding: 15px 15px 15px 20px;
  font-weight: normal;

  &.active {
    background: #F4F7FC 0 0 no-repeat padding-box;
  }

  img {
    //change un-active menu image icon to gray color
    //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    //filter: grayscale(100%);
    margin-right: 0.5rem !important;
    width: 20px;
    object-fit: scale-down;
  }

  &.active {
    color: $brand-primary;

    img {
      -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
      filter: grayscale(0);
    }
  }
}

.content-heading {
  border-bottom-color: rgba(12, 23, 38, 0.15) !important;
}

//Remove Arrows/Spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.block {
  box-shadow: 0 3px 6px #0000000D;
  border-radius: 5px;

  .vertical-separator {
    border-right: 1px solid $brand-primary;
    margin-right: 10px;
    margin-left: 10px;
  }

  .block-content {
    .select2 {
      .select2-selection.select2-selection--single {
        display: block;
        width: 100%;
        height: calc(1.428572em + 0.8571428rem + 2px);
        padding: 0.4285714rem 1rem;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.428572;
        border: 1px solid #d4dae3;
      }

      .select2-selection__rendered {
        line-height: 1.428572;
        padding-left: 0 !important;
      }

      .select2-selection__arrow {
        top: 5px;
      }
    }
  }

  //this is basically for table filters
  .block-title {
    .select2 {
      .select2-selection.select2-selection--single {
        height: auto;
        padding: 0;
        border: 0;
      }
    }

    .select2.select2-container {
      width: auto !important;
      display: block;
    }

    .select2-container--default .select2-selection--single {
      border: 0;
      box-shadow: unset;
      background-color: transparent;

      .select2-selection__rendered {
        color: white;
      }

      .select2-selection__arrow b {
        border-color: white transparent;
      }
    }

    .select-wrapper {
      position: relative;

      &.bg-select-white {
        .select2-selection__rendered {
          color: black;
        }

        .select2-selection__arrow b {
          border-color: $brand-primary transparent;
        }
      }
    }
  }

  .search:focus {
    color: $brand-primary;
  }
}

.nav-main {
  ul {
    padding: 0;

    a {
      padding-left: 40px;
    }
  }

  li.open > ul {
    background-color: unset;
  }
}

.table-responsive {

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #212529;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}


.table-pagination {
  padding: 5px;

  .page-link {
    background-color: white !important;
    border-color: white;
    font-size: 13px;
    padding: 4px 7px;
    margin: auto 1px;

    &:hover {
      border-color: $brand-primary !important;
    }
  }

  .page-item.active .page-link {
    color: black;
    border-color: $brand-primary !important;
  }

  .pagination {
    justify-content: flex-end;
  }
}

.table thead th {
  text-transform: capitalize;
}

.border-b-dashed {
  border-bottom-style: dashed !important;
}

.color-primary-out {
  &.css-checkbox {
    &.css-control-primary .css-control-input:checked {
      & ~ .css-control-indicator::after {
        color: $brand-primary;
      }

      & ~ .css-control-indicator {
        background-color: transparent;
        border-color: $brand-primary;
      }
    }
  }
}

//-------------------------------start inline icon---------------------------//
/* enable absolute positioning */
.inner-addon {
  position: relative;
  /* style icon */
  > .fa, > img {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

  > a {
    position: absolute;
    padding: 10px;
  }
}

/* align icon */
.left-addon {
  > .fa, > img, > a {
    left: 0;
  }
}

.right-addon {
  > .fa, > img, > a {
    right: 0;
  }
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.loading {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('/media/spinner.gif') 50% 50% no-repeat;
}

//-------------------------------end inline icon---------------------------//
.font-size-38 {
  font-size: 38px !important;
}

.font-size-50 {
  font-size: 50px !important;
}

.table th, .table td {
  font-size: 17px;

  a {
    color: #575757;
  }
}

label {
  font-weight: normal !important;
  font-size: 17px !important;
  color: #0C1726;
  letter-spacing: 0.17px;
}

.form-control {
  font-size: 17px;
}

.uploader {
  #file-error {
    padding-top: 14% !important;
  }
}

//fix drag-drop stuck issue
.note-dropzone {
  display: none !important;
}

//----------------------------Start custom styles---------------------------//

.optional {
  color: $gray;
  font-size: 10px;
}

.custom-badge {
  .badge-pill {
    position: absolute !important;
    top: 5px !important;
  }

  .badge {
    padding: 4px 6px;
    font-size: 10px;
  }
}

.mx-datepicker {
  display: block !important;
  width: 100% !important;
}

.mx-icon-calendar, .mx-icon-clear {
  top: 21px !important;
}

.content-header {
  height: 55px;
  align-items: flex-end;
}

.content-heading {
  padding-top: 0;
}

//heart button css 
.heart-button {
  cursor: pointer;
  transition: background 0.5s ease;
}

.heart-button.active:before, .heart-button.active:after {
  color: #DC6E6E !important;
}
//
//.heart-button:before,
//.heart-button:after {
//  transition: background 0.5s ease;
//  position: absolute;
//  content: "";
//  left: 50px;
//  top: 0;
//  width: 10px;
//  height: 40px;
//  background: dimgrey;
//  border-radius: 50px 50px 0 0;
//  transform: rotate(-45deg);
//  transform-origin: 0 100%;
//}
//
//.heart-button:after {
//  left: 0;
//  transform: rotate(45deg);
//  transform-origin: 100% 100%;
//}

@import "responsive";
// import pages styles
@import "pages/dashboard";
@import "pages/events";
@import "pages/messages";
