//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $brand-primary: #3b5998;
$brand-primary: #2F97DA;
$gray: #919191;
$body-bg: #F4F7FC;