.messages {
  .message {
    position: relative;

    &.sender {
      max-width: 45%;
      float: right;

      .text {
        background-color: #F4F7FC !important;
        float: right;
        position: relative;
      }

      .time {
        font-size: 12px;
        color: rgba(60, 63, 70, 0.5);

      }
    }

    &.receiver {
      .text {
        background-color: #2F97DA33 !important;
      }

      .time {
        font-size: 12px;
        color: rgba(60, 63, 70, 0.5);
        position: absolute;
      }

      .image, .details {
        display: inline-block;
      }

      .details {
        max-width: 45%;
      }
    }

    img, .text {
      display: inline-block;
    }

    .text {
      padding: 16px 14px;
    }
  }

  .date:before,
  .date:after {
    background-color: rgba(112, 112, 112, 0.5);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
  }

  .date:before {
    right: 0.5em;
    margin-left: 16%;
  }

  .date:after {
    left: 0.5em;
  }

  .logo-kopie {
    width: 58px;
    height: 58px;
    background: transparent linear-gradient(180deg, #2F97DA 0%, #56B3D5 100%) 0 0 no-repeat padding-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .input {
    display: inline-block;
    width: 88%;
    margin-left: 2%;

    img {
      padding: 20px !important;
    }

    input {
      background-color: #F4F7FC;
      padding: 30px 20px !important;
      color: rgba(60, 63, 70, 0.5);
      border: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .messages {
    .message.sender {
      max-width: 60%;
    }

    .message.receiver {
      .image img {
        width: 40px;
        height: 40px;
      }

      .details {
        max-width: 60%;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .messages {
    .message.sender {
      max-width: 100%;
    }

    .message.receiver {
      .image img {
        width: 30px;
        height: 30px;
      }

      .details {
        max-width: 86%;
      }
    }
  }
  .date:before {
    margin-left: 10%;
  }
}
